<ng-container *ngIf="pokemon$ | async as pokemon">
    <h1>
        {{pokemon.name}} #{{pokemon.id}}
    </h1>
    <div class="details">
        <div class="sprite">
            <div *ngIf="!toggleSwitch">
                <div class="normText">NORMAL</div>
                <button type="button" (click)="toggleSwitch = true"><img src="{{pokemon.sprites?.front_default}}"
                        class="normal" /></button>
            </div>
            <div *ngIf="toggleSwitch && this.checkValidImage(pokemon.sprites?.front_shiny)">
                <div class="shinyText">SHINY</div>
                <button type="button" (click)="toggleSwitch = false"><img src="{{pokemon.sprites?.front_shiny}}"
                        alt="{{pokemon.sprites?.front_default}}" class="shiny" /></button>
            </div>
            <div *ngIf="toggleSwitch && !this.checkValidImage(pokemon.sprites?.front_shiny)">
                <div class="noShinyText">NO SHINY SPRITE</div>
                <button type="button" (click)="toggleSwitch = false"><img src="{{pokemon.sprites?.front_default}}"
                        class="shiny" /></button>
            </div>
            <div class="types" *ngFor="let poketype of pokemon.types">

                <img src="{{this.getTypeImage(poketype.type?.name)}}" class="type{{poketype.slot}}"
                    title="{{poketype.type?.name}}">

            </div>
        </div>
        <div class="data">
            <p class="pheight">
                HEIGHT: {{this.heightConv(pokemon.height)}} m
            </p>
            <p class="pweight">
                WEIGHT: {{this.weightConv(pokemon.weight)}} kg
            </p>
            <div class="pabilities">
                <div class="phead">
                    ABILITIES:
                </div>
                <div *ngFor="let pokeabilities of pokemon.abilities">
                    <div *ngIf="pokeabilities.is_hidden">
                        H) {{pokeabilities.ability?.name}}
                    </div>
                    <div *ngIf="!pokeabilities.is_hidden">
                        * &nbsp;{{pokeabilities.ability?.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>