h1{
    color:white;
    position:absolute; top:102px; left:188px;
    font-size: 26px;
}

.slidein{
    from{
        right:0px;
    } to{
        right:300px;
    }
}

.searchshow{
    height: 58px;
    width: 25px;
    margin-right:385px;
    margin-top: -170px;
    position:relative;
    float:right;
    padding-left: 6px;
    border-style: outset;
    border-width: 7px;
    border-color:red;
	transform: skew(20deg);
	background: red;
}

.decor1{
    height: 45px;
    width: 390px;
    margin-right:-25px;
    margin-top: -170px;
    position:relative;
    float:right;
    padding-left: 6px;
    border-style: inset;
    border-width: 7px;
    border-color:#37474f;
	transform: skew(20deg);
	background: #37474f;
}
.sbar{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    height: 40px;
    width: 380px;
    margin-right:-9px;
    margin-top: -160px;
    position:relative;
    float:right;
    padding-left: 6px;
    border: none;
	background: none;
    outline:none;
    color:#cfd7db;
}
.dex{
    background: none;
    display:table-row;
    

    .list{
        display:list-item;
        color:#37474f;
        min-width: 300px;
        padding-top: 10px;
        padding-left: 20px;
        float:left;
        width: 95%;
    
        .listB{
            font-family: 'Press Start 2P', cursive;
            height: 70px;
            border-radius: 20px;
            border-color: #37474f;
            border-width: 5px;
            font-size: 20px;
            color:#37474f;
            width: 100%;
        }
    }
}



.nav{
    padding-top: 20px;
    display: block;
    font-family: 'Press Start 2P', cursive;
    position:relative; 

    .pageNum{
        color: white;
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    .navA{
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        padding-right: 10px;
        padding-top: 6px;
        padding-bottom: 5px;
        border-radius: 15px;
        border-width: 3px;
        border-color: #37474f;
        background-color: #cfd7db;
    }
    .navB{
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 5px;
        border-radius: 15px;
        border-width: 3px;
        border-color: #37474f;
        background-color: #cfd7db;
    }

}



@media screen and (max-width: 500px) {
    h1{
        font-size: 20px;
        position:absolute; top:105px; left:188px;
    }
    .nav{
        margin-left:5%;
        .pageNum{
            font-size: 0px;
        }.navB{
            margin-left: 10%;
        }
    }
}
@media screen and (max-width: 600px){
    .pageNum{
        font-size: 12px;
    }
}
@media screen and (min-width: 500px) {
    
    .dex{
        columns: 1;
    }
    .nav{
        margin-left:10%;
    }
}
@media screen and (min-width: 700px) {
    
    .dex{
        columns: 2;
        .list{
            width: 45%;
        }
    }
    .nav{
        margin-left:15%;
    }
}
@media screen and (min-width: 1000px) {
    
    .dex{
        columns: 3;
        .list{
            width: 30%;
        }
    }
    .nav{
        margin-left:20%;
    }
    
}

@media screen and (min-width: 1300px) {
    
    .dex{
        columns: 4;
        .list{
            width: 25%;
        }
    }
    .nav{
        margin-left:25%;
    }
}
@media screen and (min-width: 1500px) {
    
    .dex{
        columns: 5;
        .list{
            width: 18%;
        }
    }
    .nav{
        margin-left:35%;
    }
}



.sel{
    padding-top: 30px;
    display: block;
    
    color:white; 
    font-family: 'Press Start 2P', cursive;

    select{
        font-family: 'Press Start 2P', cursive;
        padding-left: 3px;
        padding-right: 5px;
        padding-top: 6px;
        padding-bottom: 5px;
        border-radius: 15px;
        border-width: 3px;
        border-color: #37474f;
        color: #37474f;
        background-color: #cfd7db;
}

position: relative;

}