<h1>
    All PokeMon
</h1>


<body class="dex">
    <div class="list" *ngFor="let pokemon of pokemon$ | async" >
        <button class="listB" routerLink="/{{pokemon.name}}">
            <a>
                <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png"> -->
                {{pokemon.name}}
            </a>
        </button>
    </div>
</body>

<div class="nav">
    <button class="navA" (click)="this.prevPage()" [disabled]="this.offset <= 0">Prev Page</button>
    <div class="pageNum">
        {{this.offset + 1}} - {{this.offset + size}} / {{this.count + 1}}
    </div>
    <button class="navB" (click)="this.nextPage()" [disabled]="this.offset + size >= this.count">Next Page</button>
</div>

<div class="sel">
    <select [ngModel]="listSize$ | async" (ngModelChange)="setListSize($event)">
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="30">30</option>
        <option [value]="40">40</option>
    </select>
    Per Page
</div>